 .card-container {
     img {
         border-radius: 6px;
     }

     &:hover {
         background-color: #edf7ff;

         img {
             width: 170px;
         }

         p {
             text-decoration: underline;
         }
     }
}

