.card {
    text-align: center;
    color: #003b62;

    img {
        margin-top: 10px;
        border-radius: 6px;
    }

    &:hover {
        background-color: #edf7ff;

        img {
            width: 180px;
        }

        p {
            text-decoration: underline;
        }
    }
}
