.header {
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: 24px;
    color: white;
    background: rgb(18,124,207);
    background: linear-gradient(180deg, rgba(18,124,207,1) 0%, rgba(2,80,141,1) 50%, rgba(3,56,97,1) 100%);
}
